body {
  margin: 0;
  padding: 0;
  background: linear-gradient(66deg, #e38010, #1535bf);
}
.container {
  display: flex;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.calc {
  height: 80vh;
  width: 60vh;

  background-color: black;

  border-radius: 7%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.calc-display {
  display: grid;
  justify-content: end;
  grid-template-rows: auto 1fr;

  border-radius: 10%;
  border-bottom: 1px whitesmoke solid;

  padding-right: 1vw;
  padding-left: 1vw;

  color: white;
}
.display {
  display: flex;
  justify-content: end;
  align-items: center;
}
.display-stored-calc {
  font-size: 5vh;
  margin-top: 3vh;

  color: #808080;

  overflow: hidden;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.display-result {
  font-size: 5.75vh;
  overflow: hidden;
}
.calc-operations {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-areas:
    "clear delete percent plus"
    "seven eight nine minus"
    "four five six mult"
    "one two three division"
    "zero zero point result";
  justify-items: center;
  grid-gap: 1vh;

  margin: 1vh;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10vh;
  height: 10vh;

  font-size: 5vh;

  border-radius: 100%;

  background-color: black;
  color: snow;

  transition: all ease 0.2s;
}
.math-oper,
.clear-oper,
.secondary-math-oper {
  color: rgba(253, 127, 17, 0.934);
}
.btn.zero {
  grid-area: zero;
  width: 90%;
  border-radius: 10vh;
}
.btn.result {
  background-color: rgba(253, 127, 17, 0.934);
}
.btn.minus {
  font-size: 8vh;
}

.math-oper:hover,
.clear-oper:hover,
.secondary-math-oper:hover,
.digits:hover {
  background-color: rgba(141, 140, 140, 0.272);
}

.btn:active {
  background-color: rgba(141, 155, 159, 0.621);
  transform: scale(0.8);
}
.btn.active {
  background-color: rgba(141, 155, 159, 0.621);
  transform: scale(0.8);
}

.btn.result:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.btn.result:active {
  font-size: xx-large;
  background-color: rgba(253, 96, 17, 0.934);
  transform: scale(1.1);
}
